.hdr852Header {
    z-index: 1000;
    color: var(--color-text);
    background-color: var(--color-primary);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100vw;
    min-width: 350px;
}

.hdr852Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0px auto;
    height: 100%;
    transition: 0.3s;
}

.hdr852Logo {
    position: relative;
}

.hdr852Logo h1:nth-of-type(1) {
    font-size: 25px;
    font-weight: 600;
}

.hdr852Icons {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hdr852Icons a {
    margin: 0 5px 0;
    display: block;
    height: 27px;
    width: 27px;
}

.hdr852Block {
    display: inline-block;
}

@media only screen and (max-width: 1100px) {
    .hdr852Container {
        width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    .hdr852Header {
        padding: 0 50px;
        height: 60px;
    }

    .hdr852Container {
        width: 100%;
    }

    .hdr852Logo {
        width: 100%;
        /* text-align: center; */
    }

    .hdr852Header {
        cursor: pointer;
        display: inline-block !important;
    }
}

@media only screen and (max-width: 500px) {
    .hdr852Header {
        padding: 0 20px;
    }

    .hdr852Logo span {
        font-size: 20px !important;
    }
}