.li253Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.li253LoadingIndicator {
	border: 5px solid var(--gray-170);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border-left-color: transparent;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
